version: "3.5"

services:
  api01: &api
    image: fabriciocoimbra/rinhabackend2024:latest
    hostname: api01
    environment:
      - DB_HOSTNAME=rinhadb
      - PORT=8080
    ports:
      - "8081:8080"
    depends_on:
      - db
    deploy:
      resources:
        limits:
          cpus: "0.35"
          memory: "100MB"

  api02:
    <<: *api
    hostname: api02
    environment:
      - DB_HOSTNAME=rinhadb
      - PORT=8080
    ports:
      - "8080:8080"
  
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api01
      - api02
    ports:
      - "9999:9999"
    deploy:
      resources:
        limits:
          cpus: "0.15"
          memory: "10MB"

  db:
    image: postgres:latest
    hostname: db
    environment:
      - POSTGRES_PASSWORD=makeLifeSimple
      - POSTGRES_USER=admin
      - POSTGRES_DB=rinhadb
    ports:
      - "5432:5432"
    volumes:
      - ./script.sql:/docker-entrypoint-initdb.d/script.sql
    command: postgres -c checkpoint_timeout=600 -c max_wal_size=4096
    deploy:
      resources:
        limits:
          cpus: "0.65"
          memory: "340MB"

networks:
  default:
    driver: bridge
    name: rinha-nginx-2024q1
